
<!DOCTYPE html>
<html>

  <head>
    <!-- Viewport meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:type" content="website">
<!-- https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
<link rel="icon" href="img/icons/favicon.ico"><!-- 32×32 -->
<!-- icon.svg is literally /img/logos/logo_circle.svg, but copied so everything is in one place -->
<link rel="icon" href="img/icons/icon.svg" type="image/svg+xml" sizes="any">
<link rel="apple-touch-icon" href="img/icons/apple.png"><!-- 180×180 -->

<link rel="stylesheet" type="text/css" href="css/index.css">
<!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->

  </head>
<main>
    <!-- <div class="rainbow-bar"></div>
    <div class="rainbow-bar"></div> -->
    <section class="hero">

      <div class="hero-inner">
        <!-- <div class="thumbnail-container">
           <img src="img/thumbnail0.webp" alt="Thumbnail Image" class="thumbnail">
           <img src="img/thumbnail1.webp" alt="Thumbnail Image" class="thumbnail">
           <img src="img/thumbnail2.webp" alt="Thumbnail Image" class="thumbnail">
        </div> -->

        <div class="my-head"></div>

        <div class="hero-main-text">Colin M. Henry</div>
        
        <div class="hero-secondary-text">I'm a political scientist working on problems
          at the intersection of political violence and digital communication technologies.
          I use computational methods, network analysis, and digital ethnography to answer questions about political extremism, social media platforms, community structure, and our relationship to technology.
          My dissertation asks: what are the structural sources of political extremism in online communities?</div>
        <div class="hero-status"><b>Current status:</b> I'm a PhD candidate in the Department
        of Political Science at Vanderbilt University. Expected completion 8/23.</div>

        <!--- ACADEMIC WRITING  -->

        <section>
          <h2 class="section-heading">Peer reviewed publications</h2>
          <!-- <div class="grid"> -->
            <a href="https://doi.org/10.1017/S1049096522000543" target="_blank">
              <h3>Digital Footprints and Data-Security Risks for Political Scientists</h3></a>
              <p><b>PS: Political Science & Politics, Volume 55, Issue 4, October 2022, pp. 804 - 808</b></p>
              <i>with <a href="https://www.cassydorff.com/">Dr. Cassy Dorff</a> 
                and <a href="https://www.anitagohdes.net/">Dr. Anita Gohdes</a></i></p>
            <a href="https://doi.org/10.1177/00220027221128307" target="_blank">
              <h3>Does Violence Against Journalists Deter Detailed Reporting? Evidence From Mexico</h3></a>
              <p><b>Journal of Conflict Resolution, September 2022</b></p>
              <i>with <a href="https://www.cassydorff.com/">Dr. Cassy Dorff</a> 
                and <a href="https://sandraley.net/">Dr. Sandra Ley</a></i>
                 
          <!-- </div> -->
        </section>

<!--- PUBLIC WRITING  -->

        <section>
          <h2 class="section-heading">Public writing</h2>
          <!-- <div class="grid"> -->
            <a href="https://politicalviolenceataglance.org/2022/12/07/how-violence-against-journalists-affects-the-news/">
            <h3>"How violence against journalists affects the news"</h3></a>
            <p><b>Political Violence at a Glance, December 2022</b></p>
              <i>with <a href="https://www.cassydorff.com/">Dr. Cassy Dorff</a>
                and <a href="https://sandraley.net/">Dr. Sandra Ley</a></i>
        </section>
        <section>
          <h2 class="section-heading">Projects</h2>
          <div class="grid">
            <a href="https://cmhenry.github.io/vgis2021/" target="_blank">
              <h3>Vanderbilt Graduate Ideas Symposium, co-founder</h3>
              <p>Conference organized and run by graduate students.</p></a>
            <a href="" target="_blank">
              <h3>conflictNet, contributor</h3>
              <p>R package for the creation, cleaning, exploration, and 
                modeling of conflict-related network datasets.</p></a>
          </div>
        </section>

<!--- AFFILIATIONS  -->

        <section>
          <h2 class="section-heading">Affiliations</h2>
          <div class="grid">
            <a href="https://www.vanderbilt.edu/datascience/data-science-for-social-good/" target="_blank">
              <h3>Data Science for Social Good Fellow (2021)</h3>
              <p>Vanderbilt Data Science Institute program assisting non-profit organizations
                with data science projects.</p></a>
            <a href="https://lab.vanderbilt.edu/rocca/people/graduate-students/" target="_blank">
              <h3>Research on Conflict and Collective Action Lab, graduate researcher</h3>
              <p>Collaborative research lab that trains and employs undergraduate research teams.</p></a>

                 
          </div>
        </section>

<!--- LINKS -->

        <section>
          <h2 class="section-heading">Professional links:</h2>
          <div class="find-me-on">
            <a href="https://scholar.google.com/citations?hl=en&user=EmxlJzsAAAAJ" target="_blank" rel="me">Google Scholar</a>
            ||<a href="https://www.linkedin.com/in/colin-henry-2ab02281/" target="_blank" rel="me">LinkedIn</a>

          </div>
          <h2 class="section-heading">I'm also extremely online:</h2>
          <div class="find-me-on">
            <a href="https://twitter.com/cmhenry_" target="_blank" rel="me">Twitter</a>
            ||<a href="https://bsky.app/profile/cmhenry.bsky.social" target="_blank" rel="me">Bluesky</a>
            ||<a href="https://mas.to/@cmhenry_" target="_blank" rel="me">Mastodon</a>

          </div>
        </section>
        <!-- <section>
          <h2 class="section-heading">Blog / newsletter</h2>
          <div class="grid">
            <a href="/blog">
              <h3>Blog</h3>
              <p>I have a blog, although I don't write articles that often.</p>
            </a>
            <a href="/newsletter">
              <h3>Newsletter</h3>
              <p>If you want to be notified about said articles.</p>
            </a>
          </div>
        </section> -->
        <!-- <section>
          <h2 class="section-heading">Blog posts</h2>
          <div class="grid single">
            {% for post in site.posts %}
            {% if post.draft != true %}
            <a href="{{post.url}}">
              <h3>{{post.title}}</h3>
              <p>{{ post.date | date_to_string }}</p>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </section> -->
      </div>
    </section>
    <!-- <div class="my-head"></div> -->

      <div class="badges">
        <!-- <img src="//www.webdesignmuseum.org/uploaded/exhibitions/web-banners-in-the-90s/mac-mall-1998.gif"> -->
        <img src="img/badges/earth.gif">
        <img src="img/badges/netscape_now.png">
        <img src="img/badges/best_viewed_with_eyes.png">

      </div>


</main>
</html>
